* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    width: 50vw;
    margin: 60px auto;
    margin-bottom: 0
}

header button {
    margin-left: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 60vh; */
    width: 50vw;
    margin: 0 auto;
}

form {
    background-color: #c8d6e5;
    padding: 24px 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: flex-start;
    align-items: center;
    margin: 0 36px
}

form h3 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#botao-cancelar {
    background-color: red;
}


ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    background-color: #abb0b6;
    height: 360px;
    width: 50vw;
    padding: 36px 72px;
    
}

ul div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

ul div li {
    /* padding: 60px auto; */
    list-style-type: disc;
    position: relative;
}

.task-container {
    padding: 8px 0;
    width: 100%;
    display: none;
}

ul div:hover li {
    opacity: 0.7;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}